doctype html
html(lang="ru")
	head
		include pugs/head
	body
		include pugs/header
		main.page
			include pugs/wellcome
			include pugs/styleHelp
			include pugs/howEven
			include pugs/packageService
			include pugs/examples
		include pugs/footer
		