section.examples
	.examples__container.container.bg-white
		.examples__body(data-fancybox)
			h2.examples__title.text-uppercase как все происходит
			.examples__item.d-flex.flex-column.align-items-center.flex-md-row
				a(href="#" data-fancybox="gallery" data-src="../images/first-class-stylish-help-chat-1.jpg" data-caption="Клиент просит стилиста помочь выбрать одну из курток милитари").examples__img 
					img(src="../images/first-class-stylish-help-chat-1.jpg", alt="foto")
				.examples__text.d-flex.align-items-center.text-muted Клиент просит стилиста помочь выбрать одну из курток милитари
			.examples__item.d-flex.flex-column.align-items-center.flex-md-row
				a(href="#" data-fancybox="gallery" data-src="../images/first-class-stylish-help-chat-2.jpg" data-caption="Стилист запрашивает дополнительные фотографии для того, чтобы выбор был 100% удачным").examples__img 
					img(src="../images/first-class-stylish-help-chat-2.jpg", alt="foto")
				.examples__text.d-flex.align-items-center.text-muted Стилист запрашивает дополнительные фотографии для того, чтобы выбор был 100% удачным
			.examples__item.d-flex.flex-column.align-items-center.flex-md-row
				a(href="#" data-fancybox="gallery" data-src="../images/first-class-stylish-help-chat-3.jpg" data-caption="Стилист анализирует вещи с учетом уже имеющихся вещей клиент и и помогает сделать правильный выбор").examples__img 
					img(src="../images/first-class-stylish-help-chat-3.jpg", alt="foto")
				.examples__text.d-flex.align-items-center.text-muted Стилист анализирует вещи с учетом уже имеющихся вещей клиент и и помогает сделать правильный выбор
			.examples__item.d-flex.flex-column.align-items-center.flex-md-row
				a(href="#" data-fancybox="gallery" data-src="../images/first-class-stylish-help-chat-4.jpg" data-caption="Благодарная клиентка делиться впечатлениями от полученной услуги и радостью удачных покупок").examples__img 
					img(src="../images/first-class-stylish-help-chat-4.jpg", alt="foto")
				.examples__text.d-flex.align-items-center.text-muted Благодарная клиентка делиться впечатлениями от полученной услуги и радостью удачных покупок
