footer.footer
	.footer__container.container 
		a(href="#").footer__btn.btn.align-items-center.flex-row-reverse.text-uppercase.mx-auto наверх
		.footer__info.d-flex.flex-column
			a(href="#").footer__link Вакансии
			a(href="#").footer__link Карта сайта
			a(href="#").footer__link Политика приватности
			a(href="#").footer__link Перепечатка разрешена только с активной ссылкой на нас
			a(href="#").footer__link  &#xA9 Glamurnenko.ru 2005-2019 Тел.: 8(800)707-05-13, +7(499)350-23-25
			a(href="#").footer__link Email: support@glamurnenko.ru