header.header 
	.header__container.container 
		nav.navbar.navbar-expand-lg.navbar-light.text-white
			.container-fluid
				ul.header__nav.navbar-nav 
					li.nav-item 
						a(href="#").nav-link.text-uppercase.text-reset блок
					li.nav-item 
						a(href="#").nav-link.text-uppercase.text-reset бесплатно
					li.nav-item 
						a(href="#").nav-link.text-uppercase.text-reset семинары
					li.nav-item 
						a(href="#").nav-link.text-uppercase.text-reset тренинги
					li.nav-item 
						a(href="#").nav-link.text-uppercase.text-reset услуги
					li.nav-item 
						a(href="#").nav-link.text-uppercase.text-reset отзывы
					li.nav-item 
						a(href="#").nav-link.text-uppercase.text-reset контакты
				buttom(type="button").burger-menu
					span
				.header__contacts.d-flex.justify-content-between
					.header__social.nav-item.d-flex.align-items-center.flex-start
						img(src="../images/1438557260_inst_4.png", alt="instagram").nav-item
						img(src="../images/1438557245_ab_4.png", alt="facebook").nav-item
						img(src="../images/1438423986_vk_3.png", alt="vk").nav-item
					.nav-item.header__tels.text-end.d-flex.flex-column
						.nav-item 8(800)707-05-13 
						.nav-item +7(499)350-23-25