section.how-even
	.how-even__container.container.bg-white  
		.how-even__body 
			h2.how-even__title.text-start.text-uppercase.text-muted как все происходит
			p.how-even__text.text-start.text-muted После оплаты мы подключаем вас в канал Telegram с нашим стилистом.
			p.how-even__text.text-start.text-muted Подключение происходит в рабочее время: ПН-ПТ с 10 до 19 МСК
			p.how-even__text.text-start.text-muted Сразу же вы можете писать свои вопросы.
			p.how-even__text.text-start.text-muted Ответы будут в ределах часа в рабочее время: ПН-ПТ с 10 до 19 МСК
			p.how-even__text.text-start.text-muted Если вы не получаете ответ за 1 час, мы продлеваем время действия услуги на 24 часа.
			p.how-even__text.text-start.text-muted А если нужна помощь в выходной день?
			p.how-even__text-last.text-start.text-muted Напишите об этом как можно раньше, но не менее, чем за 24 часа. Получите подтверждение стилиста. Если вы отправляетесь, к примеру, на шопинг в выходной день и вам нужно, чтобы стилист был с вами на связи, такой вариант возможен по предварительной договоренности со стилистом.
			.table-responsive.how-even__table
				table.even-table.table.table-bordered.table-yellow.fw-bold
					thead.even-table__head
						tr.table-orange
							th(scope="col").text-uppercase Вы получаете:
							td(scope="col").text-uppercase.fw-bold теория
							td(scope="col").text-uppercase.fw-bold практика
							td(scope="col").text-uppercase vip
					tbody.even-table__body
						tr
							th(scope="row") Все материалы тренинга
							td &#10003
							td &#10003
							td &#10003
						tr
							th(scope="row") Проверка ТЗ
							td -
							td 2,5 месяца
								span <br>*имиджмейкером команды Гламурненько.ру
							td 2,5 месяца
								span <br>*лично Екатериной Маляровой
						tr
							th(scope="row") Тренажер по стилевым типажам
							td -
							td &#10003
							td &#10003
						tr
							th(scope="row") Тренажер по вещам и образам
							td -
							td &#10003
							td &#10003
						tr.table-orange
							th(scope="row") Цена
							td 7 990 &#8381
							td 9 990 &#8381
							td 24 990 &#8381
						tr
							th(scope="row") 
							td(colspan="3")
								.d-flex.justify-content-center.py-2 
									.even-table__price-box &#8381
									.even-table__price-box &#8372
									.even-table__price-box &#36
									.even-table__price-box &#8364
						tr
							th(scope="row") 
							td
								.even-table__btn-wrapper
									buttom.even-table__bnt заказать
							td 
								.even-table__btn-wrapper
									buttom.even-table__bnt заказать
							td
								.even-table__btn-wrapper
									buttom.even-table__bnt заказать	 
		img(src="../images/2razmera_books_preview_1200_c.png", alt="books").how-even__img