section.package-service
	.package-service__container.container.bg-white 
		h2.package-service__title.text-uppercase.text-center пакеты услуг
		.row
			.package-service__cards.col-xl-4.col-md-6.d-flex.justify-content-center
				.package-service__card.card
					.package-service__title-card.card-title.text-center.fw-bold Пакет<br>
						span «Попробовать»
					.package-service__text-card.card-text 
						p.text-muted Срок:
						p.fw-bold в пределах 24 часов
						p.text-muted Вопросов/комплектовна оценку:
						p.fw-bold 5 ваших луков или 5 вопросов
					.package-service__prices.card-text.mx-auto
						.package-service__discount.text-muted.position-relative 890 &#8381
						.package-service__price.fw-bold 499 &#8381
					a(href="#").package-service__btn.btn.text-uppercase.btn-danger заказать
			.package-service__cards.col-xl-4.col-md-6.d-flex.justify-content-center
				.package-service__card.card
					.package-service__title-card.card-title.text-center.fw-bold Пакет<br>
						span «Попробовать»
					.package-service__text-card.card-text 
						p.text-muted Срок:
						p.fw-bold в пределах 24 часов
						p.text-muted Вопросов/комплектов на оценку:
						p.fw-bold 5 ваших луков или 5 вопросов
					.package-service__prices.card-text.mx-auto
						.package-service__discount.text-muted.position-relative 890 &#8381
						.package-service__price.fw-bold 499 &#8381
					a(href="#").package-service__btn.btn.text-uppercase.btn-danger заказать
			.package-service__cards.col-xl-4.col-md-6.d-flex.justify-content-center
				.package-service__card.card
					.package-service__title-card.card-title.text-center.fw-bold Пакет<br>
						span «Попробовать»
					.package-service__text-card.card-text 
						p.text-muted Срок:
						p.fw-bold в пределах 24 часов
						p.text-muted Вопросов/комплектовна оценку:
						p.fw-bold 5 ваших луков или 5 вопросов
					.package-service__prices.card-text.mx-auto
						.package-service__discount.text-muted.position-relative 890 &#8381
						.package-service__price.fw-bold 499 &#8381
					a(href="#").package-service__btn.btn.text-uppercase.btn-danger заказать
			