section.style-help
	.style-help__container.container.bg-white.position-relative.overflow-hidden.px-0
		.style-help__band.position-absolute.text-capitalize.text-center.bg-danger.text-white новинка
		h2.style-help__title.text-uppercase.text-center.mb-0 скорая стильная помощь
		p.style-help__text.text-center.mx-auto.text-muted онлайн-консультация стилиста в вашем мобильном телефоне когда вам нужно: на шоппинге, во время разбора гардероба, когда подбираете комплект, просто когда нужен совет
		img(src="../images/form-reservation-bigcolor.jpg", alt="#").style-help__img
		p.style-help__aboutImg.text-capitalize.text-center.mb-0.text-muted описание картинки
