section.wellcome
	.wellcome__container.container
		.wellcome__body.text-white
			img(src="../images/logo-new.png", alt="logo").wellcome__logo
			h4.wellcome__title.text-uppercase наша миссия:
			.wellcome__text.text-uppercase «миллион красиво одетых женщины»